*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color 0.5s, background-color 0.5s, border 0.5s;
}

html,body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #292929;
}

#contacto{
    color: springgreen !important;
    transition: color 0.5s;
}

input, textarea, select {
  border: none;
}

#formulario{
    width: 700px;
    height: 500px;
    position: absolute;
    top: 300px;
    left: 400px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px black;
    font-family: 'Open Sans', serif;
}

.input{
    outline: none;
}

#mensaje{
    width: 100%;
    height: 85%;
    margin: 0 auto;
    position: relative;
}

#mensaje-texto{
    width: 100%;
    height: 100%;
    font-size: 20px;
    z-index: 0;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    resize: none;
    overflow-y: auto;
    font-family: 'Open Sans', serif;
}

#mensaje-placeholder{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    padding: 30px;
    color: gray;
    pointer-events: none;
    position: absolute;
    z-index: 1;
}

.ver{
    display: none !important;
}

#envio{
    width: 100%;
    height: 15%;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}

#email{
    width: 80%;
    padding: 10px;
    font-size: 20px;
    font-family: 'Open Sans', serif;
}

#enviar{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--colortheme);
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: opacity 0.5s, background-color 0.5s;
}

#enviar:hover{
    opacity: 0.9;
}

.separador{
    width: 90%;
    height: 5px;
    border: none;
    background-color: black;
    border-radius: 5px;
    margin: 0 auto;
}
