@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');

body{
    padding: 0;
    margin: 0;
    transition: background-color 0.5s;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--colortheme);
}

#inicio{
    margin-right: 400px;
    font-family: 'Asimovian', serif;
}

main{
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

*{
    font-family: 'Open Sans', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html.cambiocolor{
    filter: invert(100%);
}

/*HEADER*/

a{
    all: unset;
}


#menu{
    width: 100%;
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    z-index: 30;
    position: fixed;
    background-color: black;
    transition: height 0.3s, opacity 0.3s;
}

#menu.desaparece{
    height: 0 !important;
    opacity: 0 !important;
}

#menu .h{
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.5s;
    color: white;
}

#menu .h:hover{
    color: greenyellow;
}

#bars-movil{
    font-size: 30px;
    cursor: pointer;
    color: white;
    display: none;
}



@media (max-width: 800px){

    #inicio{
        margin-right: 0;
    }

    #colors{
        height: 300px;
        width: 300px;
    }

    #fondo img{
        height: 100%;
    }

    main{
        padding-top: 100px;
        padding-bottom: 100px;
    }



    #menu .h{
        display: none;
    }

    #bars-movil{
        display: block;
    }

    #menu.abremenu{
        height: 300px;
        flex-direction: column;
        gap: 35px;
    }

    #menu.abremenu .h{
        display: block;
    }

    #menu.abremenu #bars-movil{
        display: none;
    }


}


/*FOOTER*/

footer{
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: black;
}

.footer-icon{
    font-size: 30px;
    cursor: pointer;
    transition: color 0.5s, transform 0.5s;
    color: white;
}

.footer-icon:hover{
    transform: scale(1.1);
}


