@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

body{
    padding: 0;
    margin: 0;
    transition: background-color 0.5s;
    background: linear-gradient(to bottom right, #333333, black);


}

main{
    padding: 200px;
    position: relative;
}

*{
    font-family: 'Open Sans', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html.cambiocolor{
    filter: invert(100%);
}

/*HEADER*/

a{
    all: unset;
}


#menu{
    width: 100%;
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    z-index: 30;
    position: fixed;
    background-color: black;
}

#menu .h{
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.5s;
    color: white;
}

#menu .h:hover{
    color: var(--colortheme);
}




@media (max-width: 800px){

    #colors{
        height: 300px;
        width: 300px;
    }

    #fondo img{
        height: 100%;
    }

    mAIN{
        padding: 100px;
    }

    

    
    




}


/*FOOTER*/

footer{
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 5;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #333333;
}

.footer-icon{
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: color 0.5s, transform 0.5s;
}

.footer-icon:hover{
    transform: scale(1.1);
}


/*GENERAL*/


#bars{
    font-size: 30px;
    cursor: pointer;
    color: black;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 100px;
    top: 50px;
}