@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');



*{
    font-family: 'Open Sans', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*HEADER*/

button{
    all: unset;
}


#menu{
    width: 100%;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    z-index: 30;
    position: fixed;
    transition: height 0.3s, background-color 0.3s;
}

#menu #toinicio{
    font-size: 20px;
    transform: scale(1.5);
    font-family: 'Asimovian', serif;
    color: white;
    margin-right: 300px;
    font-weight: lighter;
    cursor: pointer;
    transition: font-size 0.3s;
}


#menu.colorscroll{
    background-color: black !important;
}




#menu .h{
    cursor: pointer;
    font-size: 20px;
    transition: color 0.5s;
    color: white;
    font-weight: bold;
}

#menu #toportfolio{
    --colorMenu-r: 255;
    --colorMenu-g: 0;
    --colorMenu-b: 0;
    color: rgb(var(--colorMenu-r, --colorMenu-b, --colorMenu-g));
}

#menu #tocontacto-menu:hover{
    color: palegreen;
}

#menu #toportfolio-menu.colorear{
    color: lightsalmon;
}

#menu #tocontacto-menu.colorear{
    color: palegreen;
}

#bars-movil{
    font-size: 30px;
    cursor: pointer;
    display: none;
    color: white;
}



@media (max-width: 800px){

    #inicio{
        margin-right: 0;
    }

    #colors{
        height: 300px;
        width: 300px;
    }

    #fondo img{
        height: 100%;
    }

    main{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #menu{
        background-color: black;
        gap: 70px;
    }


    #menu .h{
        display: none;
    }

    #bars-movil{
        display: block;
    }

    #menu.abremenu{
        height: 300px;
        flex-direction: column;
        gap: 35px;
    }

    #menu.abremenu .h{
        display: block;
    }

    #menu.abremenu #bars-movil{
        display: none;
    }

    #menu #inicio{
        font-size: 20px;
        transform: scale(1.5);
        font-family: 'Asimovian', serif;
        margin: 0;
        color: white;
        font-weight: lighter;
        cursor: pointer;
        transition: font-size 0.3s;
    }

    #menu #inicio.inicio-retirado{
        display: none !important;
    }


}


/*FOOTER*/

footer{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 40;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    gap: 100px;
    background-color: cyan;
}

.footer-icon{
    font-size: 30px;
    cursor: pointer;
    transition: color 0.5s, transform 0.5s;
    color: white;
}

.footer-icon:hover{
    transform: scale(1.1);
}


