*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

#wall{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    row-gap: 10px;
}


#secciones{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
}

.seccion{
    width: 90%;
    border: 10px solid black;
    border-radius: 30px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}



#titular{
    font-family: 'Open Sans', serif;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: 100vh;
}

#nombre, #apellido{
    font-size: 150px;
    text-transform: capitalize;
    font-weight: bold;
}


.distinto{
    color: white;
}

#intro{
    font-size: 40px;
}

#sobremi-boton{
    color: black;
    font-family: 'Open Sans', serif;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 30px;
    border-radius: 20px;
    border: 5px solid;
    padding: 20px;
    cursor: pointer;
}







/*FONDO NUEVO*/

#temas{
    width: 100%;
    justify-content: center;
    display: flex;
}

.escogetema{
    width: 500px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    border-radius: 20px;
    background-color: black;
}

#fondos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: auto;
    height: 200px;
    gap: 15px;
}

.color {
    width: 100%; 
    height: 100px;
    cursor: pointer;
    border-radius: 20px;
}

.seleccionado{
    opacity: 0.5;
}






@media (max-width: 800px){





}


