/*PARA TODAS LAS PAG*/


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', serif;
}

input{
    all: unset;
}

body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: black;
}

#fondo{
    z-index: -1;
    height: 100vh;
    width: 100%;
    position: fixed;
    background: linear-gradient(to bottom right, #333333, black);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}



/*DROPLETS*/


.paintdrops{
    position: relative;
    display: flex;
    transition: opacity 0.5s;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}





#drops{
    display: flex;
    position: absolute;
    gap: 100px;
    
    
}

.drop{
    z-index: -1;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: gold;

}


.trail{
    width: 20px;
    height: 100%;
    transition: width 4s;
    background-color: gold;
}

.droplet{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.frontdroplet{
    position: absolute;
    color: gold;
    margin-top: -10px;
    z-index: 1;
}

.backdroplet{
    position: absolute;
    color: black;
    margin-top: -10px;
    transform: scaleX(-1) scale(0.9);
}




/*PAG-INICIO*/

#pag-inicio {
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 0;
}

#pag-inicio #titular {
    padding: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 200px;
}

#pag-inicio #titulo {
    font-size: 70px;
    color: white;
    text-align: center;
}

#pag-inicio #titulo #titulo-destacado{
    font-size: 80px;
    font-weight: bold;
}


#toportfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: gold;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 40;
}








/*PAG-INICIO MOVIL*/


@media (max-width: 800px){

    #pag-inicio #titulo{
        text-align: center;
        font-size: 50px;
        padding: 0;
    }

    #pag-inicio #titulo span{
        font-size: 70px;
    }

    #pag-inicio #enlaces-paginas{
        flex-direction: column;
        height: 1200px;
        font-size: 20px;
    }

    #pag-inicio .topag{
        font-size: 30px;
        text-align: center;
        justify-content: center;
    }


}

/*PAG-PORTFOLIO*/

#pag-portfolio{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #e6c200, #fff1a8);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px;
}

.pro{
    height: 500px;
    width: 400px;
    box-shadow: 0 0 10px 1px;
    border-radius: 30px;
    background-color: white;
}

/*PAG-CONTACTO*/

#pag-contacto{
    position: relative;
    width: 100%;
    padding: 100px;
    display: flex;
    gap: 70px;
    flex-direction: column;
    background: linear-gradient(to top right, white, #cccccc);
    opacity: 0;
}

#pagcontacto-titulo{
    font-size: 50px;
    color: black;
}

#pagcontacto-mensaje{
    gap: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#pagcontacto-mensaje input{
    width: 800px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-radius: 40px;
    box-sizing: border-box;
    background-color: white;
}

#pagcontacto-mensaje button{
    font-size: 20px;
    font-weight: bold;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    background-color: red;
    animation: paintcolor 20s linear infinite;
}


::placeholder{
    color: black;
}










