

main{
    display: flex;
    flex-direction: column;
    position: relative;
}

#fondo{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: green;
    z-index:-1;
}


/*FIXED*/


#titular{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

#titular img{
    position: absolute;
    bottom: 0;

}



#titular-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 70px;
    z-index: 1;
    color: white;
}


#titulo {
    font-size: 90px;
    font-weight: bold;
    z-index: 1;
}

#intro{
    font-size: 30px;
}




#proyectos{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    font-size: 70px;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-weight: bold;
    z-index: 0;
    padding: 100px;
    transition: transform 0.5s;
    
}


.proyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.5s;
    overflow: hidden;
    background-color: #292929;
    text-align: center; 
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    outline: 10px solid orangered;
}

.proyecto:hover{
    transform: scale(1.01);
}

#proyecto1{
    background-image: url('../images/proyecto1.png');

}

#formulario{
    width: 100%;
    height: 100vh;
}







@media (max-width: 800px){

    #titulo{
        text-align: center;
        font-size: 50px;
        padding: 0;
    }

    #titulo span{
        font-size: 70px;
    }

    .mov{
        display: none;
    }

    .color{
        font-size: 25px;
    }

    #titular{
        display: flex;
        padding: 0;
        align-items: center;
        text-align: center;
    }

    #proyectos{
        grid-template-columns: 1fr;
    }


}





/*COLORES*/


#colores{
    width: 100%;
    height: 150px;
    bottom: 0;
    gap: 5px;
    font-size: 30px;
    color: white;
    background-color: black;
    font-weight: bold;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 5px solid black;
}

.color{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-size: 40px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.color:hover{
    opacity: 0.5;
}


.color.seleccionado{
    color: white;
}

