/*MAIN*/

main{
    display: flex;
    flex-direction: column;
    position: relative;
}

#fondo{
    position: fixed;
    z-index: -2;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #333333, black);
}


/*SECCIONES*/

/*TITULAR*/

#titular{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 300px;
    z-index: 0;
    

}

#titular img{
    position: absolute;
    bottom: 0;

}



#titular-texto{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 100px;
    z-index: 1;
    color: white;
}


#titulo {
    font-size: 90px;
    font-weight: bold;
    z-index: 1;
}

#subtitulo{
    font-size: 30px;
}




/*PROYECTOS*/


#proyectos{
    position: relative;
    width: 100%;
    height: 50vh;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    z-index: 2;
}


#listado{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.proyecto{
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    text-align: center; 
    background-size: cover;
    background-position: center;
    padding: 80px;
    z-index: 2;
    border-radius: 40px;
}


#obras{
    background: linear-gradient(to bottom right, lightsalmon, white);
}

#obras:hover{
    transform-origin: top left;
    transition: transform 450ms cubic-bezier(.4,0,.2,1);
    inset: 0;
}

#hablemos{
    background: linear-gradient(to bottom right, palegreen, white);
}













/*MOVIL*/


@media (max-width: 800px){

    #titulo{
        text-align: center;
        font-size: 50px;
        padding: 0;
    }

    #titulo span{
        font-size: 70px;
    }

    .mov{
        display: none;
    }

    .color{
        font-size: 25px;
    }

    #titular{
        display: flex;
        padding: 0;
        align-items: center;
        text-align: center;
    }

    #proyectos{
        grid-template-columns: 1fr;
    }


}





/*COLORES*/


#colores{
    width: 100%;
    height: 150px;
    bottom: 0;
    gap: 5px;
    font-size: 30px;
    color: white;
    background-color: black;
    font-weight: bold;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 5px solid black;
}

.color{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-size: 40px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.color:hover{
    opacity: 0.5;
}


.color.seleccionado{
    color: white;
}

