#inicio{
    transition: color 0.5s;
    margin-right: 400px;
}


/*TITULAR*/

#titular{
    transition: transform 1s;
    width: 100%;
    height: 100vh;
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


#titulo{
    font-size: 90px;
    font-weight: bold;
    z-index: 1;
    color: white;
    text-shadow: 1px 1px 10px black;
    position: relative;
    perspective: 1000px;
    perspective-origin: center;
}

#titulo span{
    font-size: 110px;
}

/*COLORES*/

#colors{
    position: relative;
    width: 100%;
    height: 600px;
}

#colors-texto{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--colortheme);
    left: 100%;
    transition: left 1s;
}

#colors-texto.entra{
    left: 0 !important;
}


#colores{
    width: 100%;
    height: 150px;
    bottom: 0;
    gap: 5px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    clip-path: ellipse(100% 100% at 50% 0%);
    border-top: 5px solid white;
}

.color{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-size: 40px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.color:hover{
    opacity: 0.5;
}


.color.seleccionado{
    color: white;
}

/*SECCION PORTFOLIO*/

#seccion-portfolio{
    margin: 0 auto;
    width: 95%;
    height: 600px;
    border: 5px solid white;
    border-radius: 40px;
    display: none;
}


@media (max-width: 800px){

    #titulo{
        text-align: center;
        font-size: 50px;
        padding: 0;
    }

    #titulo span{
        font-size: 70px;
    }

    .mov{
        display: none;
    }

    .color{
        font-size: 25px;
    }

    #titular-texto{
        padding-left: 0;
    }


}