/*PARA TODAS LAS PAG*/

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


body{
    font-family: 'Open Sans', serif;
}

#fondo{
    z-index: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: #202020;
}


main{
    height: 100vh;
    position: relative;
}




/*PAG-INICIO*/

#pag-inicio {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 5;
}



/*PAG-INICIO TITULAR*/

#pag-inicio #titular{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 250px;
    height: 100vh;
}

#pag-inicio #titulo {
    font-size: 90px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0 0 30px black;
}

#pag-inicio #titulo #titulo-destacado{
    font-size: 100px;
}

#pag-inicio #hablame{
    position: fixed;
    background-color: palegreen;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    border-radius: 25% 75% 70% 30% / 25% 30% 70% 75% ;
    transform: rotateZ(-135deg);

}




/*PAG-INICIO PROYECTOS*/


#pag-inicio #enlaces-paginas{
    position: relative;
    width: 100%;
    height: 800px;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 40px;
}


#pag-inicio .topag{
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 80px;
    font-size: 50px;
    border-radius: 40px;
    background-size: cover;
    box-shadow: 0 0 10px 5px black;
}


#pag-inicio #toportfolio-div {
    background-image: 
        linear-gradient(
            rgba(255, 160, 122, 1),
            rgba(255, 160, 122, 0.3)
        ),
        url('/images/cabezaexplota.jpg');
}




#pag-inicio #tocontacto-div{
    background-image: linear-gradient( rgba(152, 251, 152, 1),rgba(152, 251, 152, 0.3)), url('/images/handshake.jpg');
    background-position: center;
}



/*PAG-INICIO MOVIL*/


@media (max-width: 800px){

    #pag-inicio #titulo{
        text-align: center;
        font-size: 50px;
        padding: 0;
    }

    #pag-inicio #titulo span{
        font-size: 70px;
    }

    #pag-inicio #enlaces-paginas{
        flex-direction: column;
        height: 1200px;
        font-size: 20px;
    }

    #pag-inicio .topag{
        font-size: 30px;
        text-align: center;
        justify-content: center;
    }


}


/*PAG-PORTFOLIO*/

#scrollportfolio{
    position: fixed;
    filter: brightness(var(--brillo));
    --brillo: 100%;
    transform: translate(-50%, -50%) rotate(var(--rotate));
    --rotate: -135deg;
    top: 50%;
    left: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightsalmon;
    width: var(--ancho);
    height: var(--alto);
    --ancho: 300px;
    --alto: 300px;
    z-index: 0;
    white-space: pre;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}

#scrollportfolio-titulo{
    position: relative;
    font-size: var(--fontsize);
    --fontsize: 25px;
    opacity: var(--opacity);
    --opacity: 1;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 1;
    transform: rotate(135deg);
    

}


#pag-portfolio {
    width: 100%;
    color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

#pag-portfolio #miswebs{
    width: 100%;
    padding: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}



#pag-portfolio .web{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    gap: 40px;
    
}


#pag-portfolio .web-img{
    width: 50%;
    background-image: url(../images/computer.jpeg);
    border-radius: 30px;
    box-shadow: 0 0 10px 5px lightsalmon;
}

#pag-portfolio .web-texto{
    width: 50%;
    background-color: black;
    border-radius: 30px;
    box-shadow: 0 0 10px 5px lightsalmon;
}








