/*PARA TODAS LAS PAG*/

html, body {
    margin: 0;
    padding: 0;
}

html.smoothed{
    visibility: visible !important;
    scroll-behavior: smooth !important;
}

body{
    font-family: 'Open Sans', serif;
    overflow-x: hidden;
}

#fondo{
    z-index: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: #202020;
}


main{
    height: 100vh;
    position: relative;
}



/*PAG-CONTACTO*/

#pag-contacto{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
  align-items: center;
  justify-content: center;
}

#formulario{
    height: 400px;
    width: 600px;
    background-color: palegreen;
}


/*PAG-INICIO*/

#pag-inicio {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
}

#pag-inicio #titular{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 250px;
    height: 100vh;
}

#pag-inicio #titulo {
    font-size: 90px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0 0 30px black;
}

#pag-inicio #titulo #titulo-destacado{
    font-size: 100px;
}







/*PAG-INICIO MOVIL*/


@media (max-width: 800px){

    #pag-inicio #titulo{
        text-align: center;
        font-size: 50px;
        padding: 0;
    }

    #pag-inicio #titulo span{
        font-size: 70px;
    }

    #pag-inicio #enlaces-paginas{
        flex-direction: column;
        height: 1200px;
        font-size: 20px;
    }

    #pag-inicio .topag{
        font-size: 30px;
        text-align: center;
        justify-content: center;
    }


}


/*PAG-PORTFOLIO*/

#scrollportfolio{
    position: absolute;
    filter: brightness(var(--brillo));
    --brillo: 100%;
    transform: translate(-50%, -50%) rotate(var(--rotate));
    --rotate: 0deg;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightsalmon;
    width: var(--ancho);
    height: var(--alto);
    --ancho: 250px;
    --alto: 250px;
    z-index: 1;
    white-space: pre;
    border-radius: 20% 20% 80% 80% / 20% 20% 90% 90%;
}

#scrollportfolio.fixedscroll{
    position: fixed !important;
}

#scrollportfolio-titulo{
    position: relative;
    font-size: var(--fontsize);
    --fontsize: 25px;
    opacity: var(--opacity);
    --opacity: 1;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 0;
    

}


#pag-portfolio {
    position: relative;
    width: 100%;
    color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

#pag-portfolio #miswebs{
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 70px;
    z-index: 30px;
}



#pag-portfolio .web{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    gap: 40px;
    
}


#pag-portfolio .web-img{
    width: 50%;
    background-image: url(../images/computer.jpeg);
    border-radius: 30px;
    box-shadow: 0 0 10px 5px lightsalmon;
}

#pag-portfolio .web-texto{
    width: 50%;
    background-color: black;
    border-radius: 30px;
    box-shadow: 0 0 10px 5px lightsalmon;
}








