/*PARA TODAS LAS PAG*/

#fondo{
    z-index: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(to bottom right, #333333, black);
}


#alturapag{
    z-index: -5;
    height: 200vh;
    width: 100%;
}



input, textarea, select {
  border: none;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%; 
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    font-family: 'Open Sans', serif;
}

.contenidopag{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}

/* ANIMACION PAGINAS*/

.aparece{
    animation: efectoaparece 0.5s ease-out !important;
    opacity: 1 !important;
    transform-origin: center !important;
    pointer-events: all !important;
}

.desaparece {
    opacity: 0;
    pointer-events: none;          
}

@keyframes efectoaparece {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}


/*TODAS LAS PAG MOVIL*/

@media (max-width: 800px){

    #alturapag{
        z-index: -5;
        height: 300vh;
        width: 100%;
    }

    


}


/*PAG-INICIO*/

#pag-inicio {
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    inset: 0;
    width: 100%;         
}


/*PAG-INICIO TITULAR*/

#pag-inicio #titular{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120vh;
    z-index: 0;
   
}



#pag-inicio #titular-texto{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 250px;
    z-index: 1;
}


#pag-inicio #titulo {
    font-size: 90px;
    z-index: 1;
    color: white;
}

#pag-inicio #subtitulo{
    font-size: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}




/*PAG-INICIO PROYECTOS*/


#pag-inicio #enlaces-paginas{
    position: relative;
    width: 100%;
    height: 800px;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 2;
    padding: 40px;
}


#pag-inicio .topag{
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center; 
    padding: 80px;
    z-index: 2;
    font-size: 50px;
    border-radius: 40px;
    background-size: cover;
    background-position: top;
    box-shadow: 0 0 10px 5px black;
}


#pag-inicio #toportfolio-div{

    background-image: linear-gradient(rgba(255, 160, 122, 1),rgba(255, 255, 255, 0.0)), url('/images/cabezaexplota.jpg');
}


#pag-inicio #tocontacto-div{

    background-image: linear-gradient(rgba(152, 251, 152, 1),rgba(255, 255, 255, 0.0)), url('/images/hombresentado.jpg');
    transform: scale(0.95);
}



/*PAG-INICIO MOVIL*/


@media (max-width: 800px){

    #pag-inicio #titulo{
        text-align: center;
        font-size: 50px;
        padding: 0;
    }

    #pag-inicio #titulo span{
        font-size: 70px;
    }

    #pag-inicio #enlaces-paginas{
        flex-direction: column;
        height: 1200px;
        font-size: 20px;
    }

    #pag-inicio .topag{
        font-size: 30px;
        text-align: center;
        justify-content: center;
    }


}


/*PAG-PORTFOLIO*/

#pag-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    width: 100%;
}

#pag-portfolio #misproyectos{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pag-portfolio #misproyectos-titulo{
    font-size: 50px;
    color: lightsalmon;
}


/*PAG-CONTACTO*/

#pag-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    width: 100%;
}


#pag-contacto #formulario{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 200px;
}

#pag-contacto #formulario-titulo{
    color: palegreen;
    font-size: 50px;
}


#pag-contacto #mensaje{
    background-color: white;
    width: 100px;
    height: 100px;
}



