/*MAIN*/

main{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
}


/*SECCIONES*/

/*TITULAR*/

#titular{
    position: relative;
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 300px;
    z-index: 0;
    background-image: url('../images/imagen.jpg');
    background-size: cover;
    

}

#titular img{
    position: absolute;
    bottom: 0;

}



#titular-texto{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 70px;
    z-index: 1;
    color: white;
}


#titulo {
    font-size: 90px;
    font-weight: bold;
    z-index: 1;
}

#hablemos{
    border: 5px solid white;
    font-size: 20px;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    background-color: springgreen;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
}

#hablemos i{
    font-size: 30px;
}

#hablemos:hover{
    transform: scale(1.02);
}





/*PROYECTOS*/

#proyectos{
    position: relative;
    width: 100%;
    height: 100vh;
    gap: 100px;
    display: flex;
    flex-direction: column;
    font-size: 90px;
    justify-content: center;
    align-items: start;
    font-weight: bold;
    transition: height 0.5s;
    z-index: 2;
    padding: 200px;
    background: radial-gradient( orange, #292929);
    color: white;
}


.near{
    height: 130vh !important;
}

#lista-proyectos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.proyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    cursor: pointer;
    overflow: hidden;
    background-color: #292929;
    text-align: center; 
    background-size: cover;
    background-position: center;
    z-index: 2;
    box-shadow: 0 0 10px 5px white;
    transition: transform 0.5s;
}

.proyecto:hover{
    transform: scale(1.05);
}



#proyecto1{
    background-image: url('../images/proyecto1.png');
}


/*CONTACTO*/

#formulario{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 90px;
    gap: 90px;
    background: radial-gradient( springgreen, #292929);
    padding: 200px;
    font-weight: bold;
    color: white;
}

#contactar{
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea{
    all: unset;
}

#mensaje{
    width: 100%;
    height: 500px;
    overflow-y: hidden;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    border: 10px solid white;
}






/*MOVIL*/


@media (max-width: 800px){

    #titulo{
        text-align: center;
        font-size: 50px;
        padding: 0;
    }

    #titulo span{
        font-size: 70px;
    }

    .mov{
        display: none;
    }

    .color{
        font-size: 25px;
    }

    #titular{
        display: flex;
        padding: 0;
        align-items: center;
        text-align: center;
    }

    #proyectos{
        grid-template-columns: 1fr;
    }


}





/*COLORES*/


#colores{
    width: 100%;
    height: 150px;
    bottom: 0;
    gap: 5px;
    font-size: 30px;
    color: white;
    background-color: black;
    font-weight: bold;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 5px solid black;
}

.color{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-size: 40px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.color:hover{
    opacity: 0.5;
}


.color.seleccionado{
    color: white;
}

