/*PARA TODAS LAS PAG*/

#fondo{
    z-index: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(to bottom right, #333333, black);
}

#alturapag{
    z-index: -5;
    height: 200vh;
    width: 100%;
    transition: height 0s;
}



input, textarea, select {
  border: none;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%; 
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    font-family: 'Open Sans', serif;
}

.contenidopag{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}

/* ANIMACION PAGINAS*/

@keyframes efectoaparece {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}


/*PAG-INICIO*/

#pag-inicio {
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    inset: 0;
    width: 100%;         /* on top when visible */
}

#pag-inicio.desaparece {
    opacity: 0;
    pointer-events: none;          /* behind the other page while fading out */
}

#pag-inicio.aparece{
    animation: efectoaparece 0.5s ease-out;
    transform-origin: center;
    pointer-events: all;
}


/*PAG-INICIO TITULAR*/

#pag-inicio #titular{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    z-index: 0;
   
}



#pag-inicio #titular-texto{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 100px;
    z-index: 1;
    color: white;
}


#pag-inicio #titulo {
    font-size: 90px;
    font-weight: bold;
    z-index: 1;
}

#pag-inicio #subtitulo{
    font-size: 30px;
}




/*PAG-INICIO PROYECTOS*/


#pag-inicio #proyectos{
    position: relative;
    width: 100%;
    height: 600px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    z-index: 2;
}


#pag-inicio #listado{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

#pag-inicio .topag{
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    text-align: center; 
    background-size: cover;
    background-position: center;
    padding: 80px;
    z-index: 2;
    border-radius: 40px;
}


#pag-inicio #toportfolio-div{
    background: linear-gradient(to bottom right, lightsalmon, white);
}


#pag-inicio #tocontacto-div{
    background: linear-gradient(to bottom right, palegreen, white);
}



/*PAG-INICIO MOVIL*/


@media (max-width: 800px){

    #pag-inicio #titulo{
        text-align: center;
        font-size: 50px;
        padding: 0;
    }

    #pag-inicio #titulo span{
        font-size: 70px;
    }


}


/*PAG-PORTFOLIO*/

#pag-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    width: 100%;
}

#pag-portfolio #misproyectos{
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pag-portfolio #misproyectos-titulo{
    font-size: 40px;
}


/*PAG-CONTACTO*/

#pag-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    width: 100%;
}


#pag-contacto.aparece {
    animation: efectoaparece 0.5s ease-out;
    transform-origin: center;
    pointer-events: all;
    opacity: 1;        /* on top while fading in */
}

#pag-contacto #formulario{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 200px;
}

#pag-contacto #formulario-titulo{
    color: palegreen;
    font-size: 50px;
}


#pag-contacto #mensaje{
    background-color: white;
    width: 100px;
    height: 100px;
}



